body {
    background-image: url(./index.jpg);
    background-size: cover;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

div {
    margin: 1rem;
    margin-top: 40px;
    padding: 3rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
    max-width: 300px;
    text-align: center;
}

h1 {
    margin: 10px 0 10px 0;
}

h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

p {
    font-size: 20px;
}

button {
    background-color: rgb(11, 135, 9);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    margin: 10px 30px 10px 30px;
}

#save-btn {
    background-color: blue;
}
